{{#each inFor}}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ProName}}</h5>
            <div>{{{FullDes}}}</div>
            <!--<a href="#" class="btn btn-primary">{{Price}}</a> -->
             <h5 class="card-title">Giá hiện tại: {{Price}}</h5>
            <a href="#" class="btn btn-primary">Đặt Giá</a>
        </div>
    </div>
{{/each}}