<div class="row">
    <div class="col-md-12 text-center">
        <h3>Sản Phẩm Giá Cao Nhất</h3>
    </div>
</div>


<div class="row">
    <div class="card-deck">
        {{#each dataContenSide }}
        <div class="col-md-3 py-2">
            <a href="/product/{{ProID}}/detail" class="list-group-item-action">
                <div class="card h-100">
                    <img src="/public/img/{{ProID}}/main.jpg" class=" card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ProName}}</h5>
                        <p class="text">Giá: {{Price}}</p>

                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h3>Sản Phẩm Nhiều Lượt Ra Giá Nhất</h3>
    </div>
</div>


<div class="row">
    <div class="card-deck">
        {{#each dataContenSide2 }}
        <div class="col-md-3 py-2">
            <a href="/product/{{ProID}}/detail" class="list-group-item-action">
                <div class="card h-100">
                    <img src="/public/img/{{ProID}}/main.jpg" class=" card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ProName}}</h5>
                        <p class="text">Giá: {{Price}}</p>

                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>



<div class="row">
    <div class="col-md-12 text-center">
        {{#if dataContenSidePage}}
        <div class="row justify-content-center">
            {{> home/pagination}}
        </div>
        {{/if}}
    </div>
</div>