<div class="row py-2">
    <div class="col-md-3">
        {{> home/menuside}}
    </div>
    <div class="col-md-9">
        <div class="card bg-dark text-white">
            <img class="card-img" src="../public/img copy/banner01.jpg" alt="Card image">
        </div>
    </div>
</div>

<div class="row py-1">
    <div class="col-md-12">
        {{> home/contentside}}
    </div>
</div>